<div class="main-content">
  <div class="tittle">
    <h1>Task Settings</h1>
  </div>
  <div class="panel-group">
    <div class="panel">
      <h2>Execution Parameters</h2>

      <div class="taskname subpart">
        <span class="subpart-tittle">Name</span>
        <span>{{taskFull.name}}</span>
      </div>
      <div class="taskid subpart">
        <span class="subpart-tittle">Identifier</span>
        <span>{{taskFull.id}}</span>
      </div>

      <form [formGroup]="coreSettingsForm" (submit)="submitForm()">
        <div class="taskcron subpart">
          <span class="subpart-tittle">Cron Schedule</span>
          <mat-form-field appearance="outline">
            <mat-label>Cron string</mat-label>
            <input
              matInput
              [value]="taskFull.cron"
              (input)="updateCronPreview($event); onFormChange()"
              formControlName="cron"
            />
          </mat-form-field>
          <span class="subpart-complement">{{cronString}}</span>
        </div>
        <div class="taskdelay subpart">
          <span class="subpart-tittle">Execution Delay</span>
          <div>
            <mat-slide-toggle
              class="right-spacer"
              [checked]="taskFull.delay.enabled"
              formControlName="delayEnabled"
              (change)="onFormChange()"
            ></mat-slide-toggle>
            <mat-form-field
              class="task-delay-input right-spacer"
              appearance="outline"
            >
              <mat-label>Min</mat-label>
              <input
                matInput
                type="number"
                [value]="taskFull.delay.minDelay"
                formControlName="delayMin"
                (input)="onFormChange()"
              />
              <mat-hint>In seconde</mat-hint>
            </mat-form-field>
            <mat-form-field
              class="task-delay-input right-spacer"
              appearance="outline"
            >
              <mat-label>Max</mat-label>
              <input
                matInput
                type="number"
                [value]="taskFull.delay.maxDelay"
                formControlName="delayMax"
                (input)="onFormChange()"
              />
              <mat-hint>In seconde</mat-hint>
            </mat-form-field>
          </div>
        </div>

        <div class="priority subpart">
          <span class="subpart-tittle">Priority</span>
          <mat-button-toggle-group
            name="priority"
            [value]="taskFull.priority"
            aria-label="priority"
            formControlName="priority"
            (change)="onFormChange()"
          >
            <mat-button-toggle [value]="priority.LOWEST"
              >Lowest</mat-button-toggle
            >
            <mat-button-toggle [value]="priority.LOW">Low</mat-button-toggle>
            <mat-button-toggle [value]="priority.NORMAL"
              >Normal</mat-button-toggle
            >
            <mat-button-toggle [value]="priority.HIGH">High</mat-button-toggle>
            <mat-button-toggle [value]="priority.HIGHEST"
              >Highest</mat-button-toggle
            >
          </mat-button-toggle-group>
        </div>

        <div class="panel submit-area">
          <span *ngIf="!isFormValid">Error invalid settings</span>
          <div>
            <button class="button-cancel" mat-flat-button (click)="goToHome()">
              Back
            </button>
            <button
              [disabled]="buttonSaveDisabled"
              [ngClass]="buttonSaveDisabled ? 'disabled' : null"
              class="button-save"
              type="submit"
              mat-flat-button
            >
              Save
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="panel">
      <h2>Statistics</h2>
      <div class="stats-exec-count subpart">
        <span class="subpart-tittle">Execution Count</span>
        <mat-form-field
          class="task-stats-output right-spacer"
          appearance="outline"
        >
          <input
            matInput
            disabled
            type="number"
            [value]="taskFull.statistics.executionCount"
          />
        </mat-form-field>
        <button
          class="reset-button"
          mat-flat-button
          (click)="resetStat(statsLabel.executionCount)"
        >
          Reset
        </button>
      </div>

      <div class="stats-avg-time subpart">
        <span class="subpart-tittle">Average Execution Time</span>
        <mat-form-field
          class="task-stats-output right-spacer"
          appearance="outline"
        >
          <input
            matInput
            disabled
            type="number"
            [value]="taskFull.statistics.averageExecutionTime"
          />
          <span matSuffix>sec </span>
        </mat-form-field>
        <button
          class="reset-button"
          mat-flat-button
          (click)="resetStat(statsLabel.averageExecutionTime)"
        >
          Reset
        </button>
      </div>

      <div class="stats-exec-date subpart">
        <span class="subpart-tittle">Last Execution Date</span>
        <mat-form-field
          class="task-stats-output right-spacer"
          appearance="outline"
        >
          <input
            matInput
            disabled
            [value]="taskFull.statistics.lastExecution.toString()"
          />
        </mat-form-field>
        <button
          class="reset-button"
          mat-flat-button
          (click)="resetStat(statsLabel.lastExecution)"
        >
          Reset
        </button>
      </div>
    </div>
    <div class="panel">
      <h2>Custom Internal Variables</h2>
      <div class="subpart" *ngFor="let internVar of taskFull.internals">
        <span class="subpart-tittle">{{internVar.name}}</span>
        <app-input-extended
          [internVar]="internVar"
          (clickResetEvent)="resetInternVar($event)"
          (clickDeleteEvent)="deleteInternVar($event)"
          (clickSetEvent)="updateInternVar(internVar.name, $event)"
        ></app-input-extended>
      </div>
    </div>
  </div>
</div>
