// $ab-ambiance: #45315a;
// $ab-ambianceAlter: #ab92c5;
$ab-primary: #bf1bb7;
$ab-accent: #8c3e88;
// $ab-warn: #ff5722;
$ab-success: #00c800;
// $ab-text: #000000;
// $ab-background: #161718;
// $ab-backgroundAlter: #242526;

// $ab-primary: #f14646;
// $ab-accent: #9c3939;
$ab-text: #ffffff;
$ab-ambiance: #3a3b3c;
$ab-ambianceAlter: #3a3b3c;
$ab-background: #161718;
$ab-backgroundAlter: #242526;
$ab-warn: #ffabf3;
$ab-error: #ff0000;
